.bg-content-header { background-color: #171717 !important; text-align: left; }

.content-header { padding: 0; height: 68px; }

.content-header-item img { max-height: 50px; margin-top: 10px; margin-left: 10px; }

